<!doctype html>
<html lang="en" ng-app="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timer of thrones</title>
    <meta name="description" content="Game of thrones board game timer">
    <meta name="author" content="Thibaut EHLINGER">
    <link rel="stylesheet" href="./Ressources/css/css/bootstrap.min.css">
    <link rel="stylesheet" href="./Ressources/css/index_style.css">
</head>

<body>
    <div class="container vertical-center" id="indexContainer">
        <div data-ng-controller="indexController" class="row">
            <div class="col-md-2" ng-repeat="familly in famillies" id="{{familly.name}}">
                <img ng-src="{{familly.picture}}" alt="{{familly.name}}" height="570" width="205">
                <div class="{{familly.name}} time">{{familly.remainingTime | date : "hh:mm:ss"}}</div>
                <button class="{{familly.name}} btn timer-button" ng-click="toggleTimer(familly.name)" type="submit">{{familly.buttonText}} </button>
            </div>
        </div>
    </div>
    <script src="./controller.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
</body>
</html>
